<div class="border rounded border-0 mt-2" id="footer">
    
    <div class="row ms-1 pt-1">
        
        <div class="col-sm-5 text-light">
            <img src="assets/images/nasa.ico" class="me-2" style="width: 45px; height: 45px;"/>
            Developed by Axel
        </div>
        
        <div class="col-sm-3 text-secondary pt-2 text-right">
            <img src="assets/images/nasa2.JPG" class="me-2" style="height: 15px; border-radius: 10px;"/>
            GitHub profile: https://github.com/AxelCCp
        </div>
        
        <div class="col-sm-4 py-1 text-secondary text-right">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Veritatis et quasi architecto.
        </div>

    </div>

    
   
</div>