

    <div class="px-5 mt-3 mb-5">
        
        <!--
        <img src="assets/images/space.jpg"  style="width: 100%; border-radius: 20px;" class="border-0 mb-5"/>
        -->

        <h4 class="titleColor font-weight-light pt-5 mb-3">Image of the day</h4>

        <p class="titleColor mb-3"> Date: {{apod.date}} </p><br>

        <div class="backGroundDark mb-5">

            <h4 class="titleColor mb-3 ms-2 pt-3">{{apod.title}}</h4>

            <p class="textColor textFont mx-2">{{apod.explanation}} </p> <br>

        </div>

        <img src="{{apod.hdurl}}"  style="width: 60%; border-radius: 20px;" class="border-0 pb-5"/>

    
    
    </div>

    

