
<div class="border rounded border-0 mt-2">


   <div class="" style="margin-left: 200px; margin-right: 200px;">

      <div class="mt-5 mb-5">

        <h2 class="titleColor">Hello! </h2>

        <h4 class="mt-3 titleColor">It's my fullStack demo project about Nasa open API's with Angular and Spring - 2025</h4>

      </div>

        <div class="row my-5 pb-4 pt-4 ps-2 pe-2 backGroundDark">

         <div class="col-sm-4">

            <img src="assets/images/astronaut.JPG"  style="width: 95%; border-radius: 10px;" class="border-0"/>

         </div>

         <div class="col-sm-8 ">

            <p class="textColor textFont">
               
               Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec imperdiet accumsan lacus sit amet dignissim. Pellentesque dapibus porta dolor nec porta. Integer vel lacus sit amet lorem facilisis hendrerit. Nam elementum eros nec eros mattis tempor. Mauris auctor justo sit amet pulvinar viverra. In hac habitasse platea dictumst. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Cras vel varius urna. 
             
           </p> 
           
           <p class="textColor textFont">
        
            Suspendisse ut egestas diam, in sollicitudin magna. Maecenas lectus justo, vestibulum eget egestas eu, gravida sit amet urna. Phasellus fermentum tellus a dapibus malesuada. Curabitur congue libero eget condimentum tempus. Nunc in lacinia ante. Morbi non finibus ligula, sit amet condimentum orci. 
           </p> 

           <p class="textColor textFont">
        
            Nunc vitae lectus eget urna lacinia sodales. Aliquam iaculis nulla sed tincidunt interdum. Duis id erat commodo, efficitur mauris a, malesuada libero. Donec lacinia urna velit, sit amet iaculis ante euismod mollis. In justo mauris, consectetur in fermentum vel, egestas sit amet purus.
           </p> 

           <p class="textColor textFont">
            
            Ut dictum ornare metus, quis volutpat mi porta et. Donec ut tristique est. Duis nulla diam, sollicitudin eget diam gravida, commodo finibus tellus. Mauris pretium ullamcorper urna. Morbi a libero tortor. 
             
           </p> 


           <p class="textColor textFont">

            Etiam gravida mattis massa non tincidunt. Suspendisse tristique vitae leo suscipit mattis. Etiam gravida vehicula sem non convallis. Maecenas id urna felis. Maecenas a euismod tortor, non facilisis metus. Integer eget orci quis sem iaculis gravida et porttitor enim. Vestibulum sit amet tellus tortor. Quisque sed est suscipit, ullamcorper massa nec, fermentum dui. Nulla facilisis enim ac maximus convallis. Suspendisse volutpat id eros viverra placerat. Suspendisse potenti. Nullam vel erat vehicula, dapibus lectus imperdiet, imperdiet eros. Fusce finibus egestas sodales.

           </p>

           <br>

           <a class="h5 text-primary" href="https://github.com/AxelCCp">My gitHub profile</a>


         </div>

        </div>
  
      
   </div>

    
</div>